@model IEnumerable<AutonetProjectMVCASP.Models.Employees>
@{
    ViewData["Title"] = "Index";
    bool LoggedIn = (User != null) && (User.Identity.IsAuthenticated);
    int counter = 1;
    string img = "Media/employee1";
}


<div class="containercontact">
    @if (Model.Count() == 0)
    {
        <h2 class="text-center" style="color: antiquewhite">No Employees Found</h2>
    }
    else
    {
        <div class="container align-items-center justify-content-evenly">
            <div class="row align-items-center justify-content-evenly pb-5">
                <div class="col-4 align-items-center justify-content-evenly">
                    <h1 class="text-center"> Employees</h1>
                </div>

                
            </div>



            <div class="row justify-content-center justify-content-evenly">
            <div class="col-12">   

        

            @foreach (var person in Model)
            {
                <div class="cardscontact bg-dark">
                    <div class="image-wrapper">
                        <img src="@Url.Content(person.ImagePath)" class="employee-image" alt="Employee Image" />
                    </div>
                
                    <div class="card__content">
                        <h3 class="card__title">@person.Surname @person.Name</h3>
                        <div class="card__text">
                            Job: @person.Job
                        </div>
                        <div class="card__info">
                            @if (LoggedIn && (User.IsInRole("Admin") || User.IsInRole("Boss")))
                            {
                                <br />
                                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@person.Id">Edit</a>
                                <a asp-action="Remove" class="btn btn-danger" asp-route-id="@person.Id">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            }
            </div>
            </div>
            </div>

    }
</div>

<div class="row justify-content-center pt-3">
    <div class="text-center ms-2 me-2">
    @if (LoggedIn && (User.IsInRole("Admin") || User.IsInRole("Boss")))
    {
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    }
    </div> 
</div>



