@model IEnumerable<AutonetProjectMVCASP.Models.Employees>
@{
    ViewData["Title"] = "Index";
    bool LoggedIn = (User != null) && (User.Identity.IsAuthenticated);
    int counter = 1;
    string img = "Media/employee1";
}


<div class="containercontact">
    @foreach (var person in Model)
    {
        img = "employee" + counter;

        <div class="cardscontact bg-dark">
            <div class="employee_image @img" style="width:100%; height:200px; align-content:center"></div>
            <div class="card__content">
                <h3 class="card__title">@person.Surname @person.Name</h3>
                <div class="card__text">
                    Job: @person.Job
                </div>
                <div class="card__info">
                    @if (LoggedIn)
                    {
                        <br />

                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@person.Id">Edit</a>
                        <a asp-action="Remove" class="btn btn-danger" asp-route-id="@person.Id">Delete</a>
                    }
                </div>
            </div>
        </div>

        counter++;
        if (counter > 8)
        {
            counter = 1;
        }
    }
</div>

<div class="row justify-content-center pt-3">
    <div class="text-center ms-2 me-2">
    @if (LoggedIn)
    {
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    }
    </div> 
</div>



