@using Newtonsoft.Json;
@model IEnumerable<AutonetProjectMVCASP.Models.Locations>

@{
    bool LoggedIn = (User != null) && (User.Identity.IsAuthenticated);
}

<div class="container d-flex flex-column">
<div class="row">
    <div class="card bg-dark">
        <div class="card-header">
            <h1>List of All of our Locations</h1>
        </div>
        <div class="card-body">
            <div style="width=90%; height=auto">
                @if (Model.Count() == 0)
                    {
                        <div class="alert alert-danger" role="alert">
                            There are no employees in the database!
                        </div>
                    }
                    else
                    {
                    <table class="table appointmentsTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Place)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => obj.Place)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => obj.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => obj.Title)
                                </td>
                                <td>
                                    <a class="btn btn-info" asp-action="Details" asp-route-place="@obj.Place">Details</a> @*asp-route-<variablename> is the main idea *@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                }
            </div>
        </div>
        @if(LoggedIn)
            {
                <div class="card-footer">
                    <div class="row">
                        <a class="btn btn-primary" asp-action="Create">Create New</a>
                    </div>
                </div>
            }
            
    </div>
</div>
    </div>



</div>

