@using Newtonsoft.Json;
@model IEnumerable<AutonetProjectMVCASP.Models.Locations>


@{
    bool LoggedIn = (User != null) && (User.Identity.IsAuthenticated);
    int counter = 1;
    string img = "image1";

}
<div class="container pt-4 d-flex flex-column align-items-center justify-content-center">


    @if (Model.Count() == 0)
    {
        <h2 class="text-center" style="color:antiquewhite">No Locations Found</h2>
    }
    else
    {
        <h1 class="text-center col-2 mb-3" style="background-color: rgba(33, 37, 41, 0.7) ">Locations</h1>
        <div class="containercontact">
            @foreach (var loc in Model)
            {
                img = "image" + counter;

                <div class="cardscontact bg-dark">
                    <div id="@img" style="height: 200px;"></div>
                    <div class="card__content">
                        <h3 class="card__title">@loc.Place</h3>
                        <div class="card__text">
                            Mon-Fri: @loc.StartTime.Hour:00 - @loc.EndTime.Hour:00 <br />
                            Sat-Sun: Closed
                        </div>
                        <div class="card__info">
                            <br /><a class="btn btn-primary mb-2" asp-controller="Locations" asp-action="Details" asp-route-place="@loc.Place">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                                </svg> Details
                            </a>
                        </div>
                        @if (LoggedIn && (User.IsInRole("Admin") || User.IsInRole("Architect")))
                        {
                            <a asp-action="Edit" class="btn btn-warning" asp-route-id="@loc.Place">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                                </svg> Edit
                            </a>
                            <a asp-action="Remove" class="btn btn-danger" asp-route-id="@loc.Place">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg> Delete
                            </a>
                        }
                    </div>
                </div>

                counter++;

            }
        </div>

    }
    <div class="row justify-content-center pt-3">
        <div class="text-center ms-2 me-2">
            @if (LoggedIn && (User.IsInRole("Admin") || User.IsInRole("Architect")))
            {
                <a asp-action="Create" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                    </svg> Create New
                </a>
            }
            <a asp-action="BigMap" class="btn btn-secondary">Big Map</a>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var locations = [];

        @{
            counter = 1;
        }

        @foreach (var loc in Model)
        {
            img = "image" + counter;
            @:locations.push({
            @:id: '@img',
            @:latitude: @loc.Latitude,
            @:longitude: @loc.Longitude,
            @:place: '@loc.Place'
            @:});
            counter++;

        }

            function initializeMaps() {
                locations.forEach(function (loc) {
                    var map = new google.maps.Map(document.getElementById(loc.id), {
                        center: { lat: loc.latitude, lng: loc.longitude },
                        zoom: 9
                    });

                    console.log('Map initialized for:', loc.place);

                    var marker = new google.maps.Marker({
                        position: { lat: loc.latitude, lng: loc.longitude },
                        map: map,
                        title: loc.place
                    });
                });
            }

        // Call the initialization function after the Google Maps API has loaded
        function initMap() {
            console.log('Google Maps API loaded');
            initializeMaps();
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBT7QWZaUcL4n36Dj8toB0Tui1Ur8vmFRg&callback=initMap" async defer></script>
}