@model IEnumerable<AutonetProjectMVCASP.Models.Locations>
@{
    ViewData["Title"] = "Privacy Policy";
    int counter = 1;
    string img = "image1";
}


<p class="ContactTittle">Here, you can find all the information you need to get in touch with us: </p>


<div class="containercontact">

    @foreach (var loc in Model)
    {
        img = loc.ImagePath;

        <div class="cardscontact bg-dark">

            <div class="card__image @img"></div>
            <div class="card__content">
                <h3 class="card__title">@loc.Place</h3>
                <div class="card__text">
                    Mon-Fri: @loc.StartTime.Hour:00 - @loc.EndTime.Hour:00 <br />
                    Sat-Sun: Closed
                </div>
                <div class="card__info"><br /><a class="btn btn-primary" asp-controller="Locations" asp-action="Details" asp-route-place="@loc.Place">Details</a></div>
            </div>
        </div>

    }


    
</div>