@model IEnumerable<AutonetProjectMVCASP.Models.Locations>
@{
    ViewData["Title"] = "Privacy Policy";
    int counter = 1;
    string img = "image1";
}


<p class="ContactTittle">Here, you can find all the information you need to get in touch with us: </p>


<div class="containercontact">

    @foreach(var loc in Model)
    {
        img = loc.ImagePath;

        <div class="cardscontact bg-dark">
            
            <div class="card__image @img"></div>
            <div class="card__content">
                <h3 class="card__title">@loc.Place</h3>
                <div class="card__text">
                    L-V: @loc.StaryTime.Hour:00 - @loc.EndTime.Hour:00 <br />
                    S-D: Closed
                </div>
                <div class="card__info"><br /><a class="btn btn-primary" asp-controller="Locations" asp-action="Details" asp-route-place="@loc.Place">Details</a></div>
            </div>
        </div>
        
    }
    

    <div class="cardscontact bg-dark">
        <div class="card__image image1"></div>
        <div class="card__content">
            <h3 class="card__title">Car Center / Autócentrum</h3>
            <div class="card__text">
                L-V: 8:00 - 20:00 <br />
                S-D: Closed
            </div>
            <div class="card__info"><br />+40 721 123 456</div>
        </div>
    </div>

    <div class="cardscontact bg-dark">
        <div class="card__image image2"></div>
        <div class="card__content">
            <h3 class="card__title">Car World /  Lumea Auto</h3>
            <div class="card__text">
                L-V: 8:00 - 16:00 <br />
                S-D: Closed
            </div>
            <div class="card__info"><br />+40 731 987 654</div>
        </div>
    </div>
    <div class="cardscontact bg-dark">
        <div class="card__image image3"></div>
        <div class="card__content">
            <h3 class="card__title"> Car Doctor / Doctor Auto </h3>
            <div class="card__text">
                L-V: 8:00 - 18:00 <br />
                S-D: Closed
            </div>
            <div class="card__info"><br />+40 741 567 890</div>
        </div>
    </div>
    <div class="cardscontact bg-dark">
        <div class="card__image image4"></div>
        <div class="card__content">
            <h3 class="card__title">FixItAuto</h3>
            <div class="card__text">
                L-V: 8:00 - 20:00 <br />
                S-D: Closed
            </div>
            <div class="card__info"><br />+40 751 234 567</div>
        </div>
    </div>
    <div class="cardscontact bg-dark">
        <div class="card__image image5"></div>
        <div class="card__content">
            <h3 class="card__title">Miracle Fix / Csodajavító</h3>
            <div class="card__text">
                L-V: 8:00 - 18:00 <br />
                S-D: Closed
            </div>
            <div class="card__info"><br />+40 761 876 543</div>
        </div>
    </div>
    <div class="cardscontact bg-dark">
        <div class="card__image image6"></div>
        <div class="card__content">
            <h3 class="card__title">Snappy Belt / Curea Vioaie</h3>
            <div class="card__text">
                L-V: 8:00 - 18:00 <br />
                S-D: Closed
            </div>
            <div class="card__info"><br />+40 771 345 678</div>
        </div>
    </div>
    <div class="cardscontact bg-dark">
        <div class="card__image image7"></div>
        <div class="card__content">
            <h3 class="card__title">AutoXpert</h3>
            <div class="card__text">
                L-V: 8:00 - 20:00 <br />
                S-D: Closed
            </div>
            <div class="card__info"><br />+40 731 456 789</div>
        </div>
    </div>
    <div class="cardscontact bg-dark">
        <div class="card__image image8"></div>
        <div class="card__content">
            <h3 class="card__title">QuickFix</h3>
            <div class="card__text">
                L-V: 8:00 - 20:00 <br />
                S-D: Closed
            </div>
            <div class="card__info"><br />+40 741 890 123</div>
        </div>
    </div>
    <!-- Repeat the card structure for the remaining cards -->
</div>